.first-section{
  background-image: url(https://img.freepik.com/free-photo/structure-shanghai-tourism-truss-metal_1127-2811.jpg?w=1380&t=st=1709740845~exp=1709741445~hmac=25bbdd5302a775b585424d3cd7d70a666891016042f6762d6dccf5bcc6b22752);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  min-width: 100lvw;
  position: relative;
  top: -65px;
  z-index: 0;
  padding-bottom: 0!important;
}

.title{
  position: relative;
  top: 200px;
  color: #f8f8f8;
  h1{
    font-size: 35px;
    font-weight: 600;
  }
  span{
    font-size: 20px;
    font-weight: 300;
  }
}

.title2{
  h1{
    font-size: 25px;
    font-weight: 400;
  }
  span{
    max-width: 60%;
    font-size: 16px;
    font-weight: 200;
  }
}


.icon{
  font-size: 100px;
}

.title3{
  font-size: 30px;
  font-weight: 500;
}
.description{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 4;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}

.icon-container{
  i{
    font-size: 40px;
  }
}
.info-title{
  font-weight: 400;
}
.feature{
  .description{
    font-size: 15px;
    font-weight: 300;
  }
}

.col-lg-3{
  margin-right: 5rem;
}

.feature{
  background-color: transparent;
  border-radius: 5px;
  padding: 30px;
  min-height: 297px;
  transition: all .3s ease;
}

.feature:hover{
  background-color: #ff9f31;
  box-shadow: 13px 13px 50px -24px rgba(255, 159, 49, 0.7);
}

@media (max-width: 768px){
  .first-section{
    position: relative;
    top: -95px;
  }
  .col-lg-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
}

.arrow:focus{
  border: 0;
}

.arrow
{
  color: #fff;
  font-size: 100px;
  position: relative;
  bottom: -30rem;

  /**
   * Dark Arrow Down
   */
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
