<section class="first-section">
  <div class="container">
    <div class="title">
      <h1>A very clear statement of your offer.</h1>
      <span>A supporting statement of your value proposition.<br> Entice your visitor to scroll through your landing
        page.</span>
    </div>
  </div>
</section>

<section>
  <div class="container ">
    <div class="title2 text-center">
      <h1>Our Mission</h1>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</span>
    </div>
  </div>
</section>

<section>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="features">
      <div class="row m-5 g-5">
        <div class="col-lg-4">
          <div class="box d-flex align-items-center">
            <div class=" icon px-3">
              <i class="bi bi-display"></i>
            </div>
            <div class="text-container">
              <h2 class="text-primary">Some Feature</h2>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box d-flex align-items-center">
            <div class=" icon px-3">
              <i class="bi bi-display"></i>
            </div>
            <div class="text-container">
              <h2 class="text-primary">Some Feature</h2>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-5 g-5">
        <div class="col-lg-4">
          <div class="box d-flex align-items-center">
            <div class=" icon px-3">
              <i class="bi bi-display"></i>
            </div>
            <div class="text-container">
              <h2 class="text-primary">Some Feature</h2>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box d-flex align-items-center">
            <div class=" icon px-3">
              <i class="bi bi-display"></i>
            </div>
            <div class="text-container">
              <h2 class="text-primary">Some Feature</h2>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-pricing-section></app-pricing-section>

<app-team-section></app-team-section>
