<section class="first-section">
  <div class="container">
    <div class="title text-center">
      <h1>Success starts with hardworking consultants</h1>
      <span>Morbi leo tortor, fermentum sed orci vitae, tempor auctor turpis.<br> Fusce bibendum accumsan fringilla.
        Nulla
        aliquam luctus sem, at posuere nibh lobortis et.<br> Ut ac mollis risus, eu congue libero. Nulla vestibulum
        ultricies tortor at ultrices.</span>
    </div>
  </div>
  <div class="arrow-container d-flex justify-content-center align-items-center">
    <button class="btn arrow bounce"><i class="bi bi-chevron-down"></i></button>
  </div>
</section>
<app-insight-section3></app-insight-section3>
<app-insight-section4></app-insight-section4>
<app-pricing-section></app-pricing-section>
<app-team-section></app-team-section>
