.first-section{
  background-image: url(https://img.freepik.com/free-photo/structure-shanghai-tourism-truss-metal_1127-2811.jpg?w=1380&t=st=1709740845~exp=1709741445~hmac=25bbdd5302a775b585424d3cd7d70a666891016042f6762d6dccf5bcc6b22752);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  min-width: 100lvw;
  position: relative;
  top: -65px;
  z-index: 0;
  padding-bottom: 0!important;
}

.title{
  position: relative;
  top: 200px;
  color: #f8f8f8;
  h1{
    font-size: 35px;
    font-weight: 600;
  }
  span{
    font-size: 20px;
    font-weight: 300;
  }
}

.title2{
  h1{
    font-size: 25px;
    font-weight: 400;
  }
  span{
    max-width: 60%;
    font-size: 16px;
    font-weight: 200;
  }
}




@media (max-width: 768px){
  .first-section{
    position: relative;
    top: -95px;
  }
  .col-lg-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
}

.arrow:focus{
  border: 0;
}

.arrow
{
  color: #fff;
  font-size: 100px;
  position: relative;
  bottom: -30rem;

  /**
   * Dark Arrow Down
   */
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
