<section>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 ">
            <div class="col" *ngFor="let item of paginatedGalleryData">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <div class="image-container">
                            <a href="/product"><img [src]="item.imageUrl" class="card-img-top" [alt]="item.name" style="max-height: 200px; max-width: 100%; object-fit: cover;"></a>
                        </div>
                        <h3 class="py-3">{{item.name}}</h3>
                        <p>{{item.description}}</p>
                        <div class="footer-container">
                            <div>
                                <h2 class="my-4">{{item.price}}$</h2>
                            </div>
                            <div>
                                <a href="/product"><button type="button" class="btn">Go to product</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginator">
            <mat-paginator [length]="galleryData.length" [pageSize]="6" [pageSizeOptions]="[6]"  hidePageSize showFirstLastButtons ></mat-paginator>
        </div>
    </div>
</section>

