<section>
  <div class="title text-center">
    <h1>Got a question?</h1>
    <span>We'd like to talk more about what you need</span>
    <div class="btn-container mt-5">
      <button type="button" class="btn"><i class=" bi bi-chat-fill"></i> Chat with us</button>
    </div>
  </div>
  <div class="contact-methods mt-5">
    <div class="row row-cols-1 row-cols-md-2 w-100 mt-5 gy-5 text-center d-flex justify-content-center">
      <div class="col-lg-2">
        <div class="icon-container">
          <i class="bi bi-geo-alt-fill"></i>
        </div>
        <div class="text-container">
          <h3>Address</h3>
          <span>12124 First Street 54</span>
        </div>
      </div>
      <div class="col-lg-2 ">
        <div class="icon-container">
          <i class="bi bi-envelope-fill"></i>
        </div>
        <div class="text-container">
          <h3>Email</h3>
          <span>contacto&commat;email.com</span>
        </div>
      </div>
      <div class="col-lg-2 ">
        <div class="icon-container">
          <i class="bi bi-phone"></i>
        </div>
        <div class="text-container">
          <h3>Phone</h3>
          <span>+34 123 456 789</span>
        </div>
      </div>
      <div class="col-lg-2 ">
        <div class="icon-container">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="text-container">
          <h3>Contact</h3>
          <span>Lucentia Lab</span>
        </div>
      </div>
    </div>
  </div>
</section>
