<section>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-4 m-0 p-0 d-flex justify-content-end">
        <img src="https://img.freepik.com/free-photo/beautiful-shot-hill-with-trees-wooden-hut-mountains-background_181624-2780.jpg?t=st=1709737780~exp=1709741380~hmac=f1ae5679db298decb220eb690bd8184c62da531d1732c31542618a151c7108e0&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0">
        <img src="https://img.freepik.com/free-photo/people-near-tree-shore-sunset_181624-29038.jpg?t=st=1709738549~exp=1709742149~hmac=00d32e7f5d34953adad642c6dbb8a0edd238764fdc4d2acb9a6fe5b0dd26b7c2&w=740" alt="Picture">
        <img src="https://img.freepik.com/free-photo/vertical-shore-tree-shore-sunset_181624-28976.jpg?t=st=1709738562~exp=1709742162~hmac=c749a675ca5db787013a324d32c94a5ad8dee81c7ea3172cdc96e5fd7bab0511&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0 ">
        <img src="https://img.freepik.com/free-photo/lot-chocolate-chip-cookies-arranged-circle-white-background-with-copy-space_181624-17017.jpg?t=st=1709738578~exp=1709742178~hmac=098629c959398e76ac090929657d7c0dd728ee6f9d7996838be6ffe1df8e0f76&w=740" alt="Picture">
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-4 m-0 p-0 d-flex justify-content-end">
        <img src="https://img.freepik.com/free-photo/beautiful-snow-covered-mountains-landscape-kashmir-state-india_1232-4326.jpg?t=st=1709738595~exp=1709742195~hmac=5022029895e4b7d5f0212688c44bc9ee15e5ffc22a149c175e8664f5a2ded029&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0">
        <img src="https://img.freepik.com/free-photo/view-nature-landscape-with-lake_23-2150763592.jpg?t=st=1709738608~exp=1709742208~hmac=4f015cb1c60b0ca554ba147dea44825e14122d1998b74336688cc11c08b7ced6&w=740" alt="Picture">
        <img src="https://img.freepik.com/free-photo/vertical-shot-dolomites-surrounded-by-greenery-south-tyrol-italy_181624-59830.jpg?t=st=1709738625~exp=1709742225~hmac=1eafa96c1e4202b8f5472db073b978143b3bf892d643f8e8023ffec7980bd0dd&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0 ">
        <img src="https://img.freepik.com/free-photo/close-up-submerged-stones-lake_1160-543.jpg?t=st=1709738777~exp=1709742377~hmac=658aee99fef52d1b9b5f6140161c19991c7fe8e68da1785a2d8465b82d538b10&w=740" alt="Picture">
      </div>
    </div>
  </div>
</section>
