<section>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-4 m-0 p-0 d-flex justify-content-end">
        <img src="https://img.freepik.com/free-photo/beautiful-shot-hill-with-trees-wooden-hut-mountains-background_181624-2780.jpg?t=st=1709737780~exp=1709741380~hmac=f1ae5679db298decb220eb690bd8184c62da531d1732c31542618a151c7108e0&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0">
        <img src="https://img.freepik.com/free-photo/aerial-view-mountain-covered-fog-beautiful-pink-sky_181624-4676.jpg?t=st=1709800972~exp=1709804572~hmac=25d45ecc14707678ca73c2e95f2abea9e3afa5e1504828d96e658a1720a11c4a&w=740" alt="Picture">
        <img src="https://img.freepik.com/free-photo/stream-flowing-through-rocks_1359-1069.jpg?t=st=1709800947~exp=1709804547~hmac=072c8a4f8cfdf1a43ee40c110c8731fcf725a09c63bfabbc530717a374a15fe9&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0 ">
        <img src="https://img.freepik.com/free-photo/lot-chocolate-chip-cookies-arranged-circle-white-background-with-copy-space_181624-17017.jpg?t=st=1709738578~exp=1709742178~hmac=098629c959398e76ac090929657d7c0dd728ee6f9d7996838be6ffe1df8e0f76&w=740" alt="Picture">
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-4 m-0 p-0 d-flex justify-content-end">
        <img src="https://img.freepik.com/free-photo/vertical-shot-man-wearing-red-hat-standing-wooden-fence-with-mountains_181624-26479.jpg?t=st=1709800917~exp=1709804517~hmac=db01b64abeeda09d35e42e3b6a2809d5a11bb14be03e3053d60f41a2188413a0&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0">
        <img src="https://img.freepik.com/free-photo/view-nature-landscape-with-lake_23-2150763592.jpg?t=st=1709800884~exp=1709804484~hmac=f1e7d5c6c94f0612b2ebfb3daf746f5cf53c40e5f478af076a7e677b62e31738&w=740" alt="Picture">
        <img src="https://img.freepik.com/free-photo/vertical-shot-dolomites-surrounded-by-greenery-south-tyrol-italy_181624-59830.jpg?t=st=1709800853~exp=1709804453~hmac=4d791afb433c8231462098e745d6c23248346252265afe76d24577d48cc00e1b&w=740" alt="Picture">
      </div>
      <div class="col-4 m-0 p-0 ">
        <img src="https://img.freepik.com/free-photo/close-up-submerged-stones-lake_1160-543.jpg?t=st=1709738777~exp=1709742377~hmac=658aee99fef52d1b9b5f6140161c19991c7fe8e68da1785a2d8465b82d538b10&w=740" alt="Picture">
      </div>
    </div>
  </div>
</section>
