.footer{
  padding: 20px;
  border-top: 1px solid #ff9f31;
}

.container{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
}

li{
  margin: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.btn{
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}
