<section>
  <div class="container-fluid">
    <div class="title-container text-center">
      <h2>Our Pricing Plan</h2>
      <span
        >To get started, you will need to choose a plan for your needs. You have
        Free Unlimited Updates and Premium Support on each package.</span
      >
    </div>
    <div class="cards-container mt-5 d-flex justify-content-center">
      <div class="row row-cols-1 row-cols-lg-3 gap-0">
        <div class="col-lg-4">
          <div class="card card-1 text-center">
            <div class="card-header">
              <h5 class="px-2">Pro</h5>
              <h2>40<strong style="font-size: 35px">€</strong></h2>
              <small>per month</small>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="align-items-center my-4">
                  <i class="bi bi-hdd px-2"></i>
                  <b class="text-primary"> 2GB </b>
                  <span class="text-muted"> File Storage </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-envelope px-2"></i>
                  <b class="text-primary"> 100 </b>
                  <span class="text-muted"> Emails </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-database px-2"></i>
                  <b class="text-primary"> 10 </b>
                  <span class="text-muted"> Database </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-info-circle px-2"></i>
                  <b class="text-primary"> Premium </b>
                  <span class="text-muted"> Support </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-2 zoom-in text-center">
            <div class="card-header">
              <h5 class="px-2">Starter</h5>
              <h2>20<strong style="font-size: 35px">€</strong></h2>
              <small>per month</small>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="align-items-center my-4">
                  <i class="bi bi-hdd px-2"></i>
                  <b class="text-primary"> 1GB </b>
                  <span class="text-muted"> File Storage </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-envelope px-2"></i>
                  <b class="text-primary"> 3 </b>
                  <span class="text-muted"> Emails </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-database px-2"></i>
                  <b class="text-primary"> 5 </b>
                  <span class="text-muted"> Database </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-info-circle px-2"></i>
                  <b class="text-primary"> No </b>
                  <span class="text-muted"> Support </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-3 text-center">
            <div class="card-header bg-warning">
              <h5 class="px-2">Enterprise</h5>
              <h2>70<strong style="font-size: 35px">€</strong></h2>
              <small>per month</small>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="align-items-center my-4">
                  <i class="bi bi-hdd px-2"></i>
                  <b class="text-primary"> 10GB </b>
                  <span class="text-muted"> File Storage </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-envelope px-2"></i>
                  <b class="text-primary"> Unlimited </b>
                  <span class="text-muted"> Emails </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-database px-2"></i>
                  <b class="text-primary"> 50 </b>
                  <span class="text-muted"> Database </span>
                </li>
                <mat-divider></mat-divider>
                <li class="align-items-center my-4">
                  <i class="bi bi-info-circle px-2"></i>
                  <b class="text-primary"> Premium </b>
                  <span class="text-muted"> Support </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-insight></app-insight>

<app-contact-methods-section></app-contact-methods-section>

