section {
  display: block;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-container{
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
