<section>
    <div class="container">
      <div class="row w-100">
        <div class="col-md-4 profile-container">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="img-container">
                    <img class="profile-picture" src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-2.jpg" alt="Profile Picture">
                  </div>
                  <div class="info-container text-center mt-4">
                    <h1>Sofía García</h1>
                    <span>Full Stack Developer<br></span>
                    <span>Alicante, Spain</span>
                  </div>
                  <div class="btn-container mt-4 d-flex gap-2">
                    <button class="btn follow-btn" [ngClass]="{ 'following': isFollowing }" (click)="toggleFollow()">
                      <i *ngIf="!isFollowing" class="bi bi-person-add"></i> <!-- Icono para Follow Me -->
                      <i *ngIf="isFollowing" class="bi bi-person-check"></i> <!-- Icono para Following -->
                      {{ followText }}
                    </button>
                    <a href="/chat"><button type="button" class="btn message-btn">Message</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="card socials-card">
                <div class="card-body">
                  <div class="row w-100 d-flex align-items-center">
                    <div class="col-6 d-flex align-items-center gap-3">
                      <i class="bi bi-globe"></i>
                      <span> Website </span>
                    </div>
                    <div class="col-6 text-end">
                      <span>lucentialab.com</span>
                    </div>
                  </div>
                  <div class="row py-5 w-100 d-flex align-items-center">
                    <div class="col-6 d-flex align-items-center gap-3">
                      <i class="bi bi-instagram" style="color: #ac2bac;"></i>
                      <span> Instagram </span>
                    </div>
                    <div class="col-6 text-end">
                      <span>&commat;sofiagarcia</span>
                    </div>
                  </div>
                  <div class="row w-100 d-flex align-items-center">
                    <div class="col-6 d-flex align-items-center gap-3">
                      <i class="bi bi-twitter-x"></i>
                      <span> Twitter </span>
                    </div>
                    <div class="col-6 text-end">
                      <span>&commat;sofiagarcia</span>
                    </div>
                  </div>
                  <div class="row py-5 w-100 d-flex align-items-center">
                    <div class="col-6 d-flex align-items-center gap-3">
                      <i class="bi bi-facebook" style="color: #3b5998;"></i>
                      <span> Facebook </span>
                    </div>
                    <div class="col-6 text-end">
                      <span>Sofía García</span>
                    </div>
                  </div>
                  <div class="row w-100 d-flex align-items-center">
                    <div class="col-6 d-flex align-items-center gap-3">
                      <i class="bi bi-github" style="color: #333333;"></i>
                      <span> GitHub </span>
                    </div>
                    <div class="col-6 text-end">
                      <span>sofiagarcia</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="row mb-4" *ngFor="let field of fields">
                <div class="col-md-4">{{ field.label }}</div>
                <div class="col-md-8">
                  <span *ngIf="!editing">{{ field.value }}</span>
                  <input class="form-control" *ngIf="editing" type="text" [(ngModel)]="field.editedValue">
                </div>
              </div>
              <div class="edit-container mt-3">
                <button type="button" class="btn" (click)="toggleEditor()">{{editing ? 'Save Changes' : 'Edit'}}</button>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="text-primary" style="font-style: italic;">Project Status</h2>
                  <div class="progress-container">
                    <h4 class="mb-1"> Web Design </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 75%;"></div>
                    </div>
                  </div>
                  <div class="progress-container py-3">
                    <h4 class="mb-1"> Website Markup </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 10%;"></div>
                    </div>
                  </div>
                  <div class="progress-container ">
                    <h4 class="mb-1"> One Page </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 50%;"></div>
                    </div>
                  </div>
                  <div class="progress-container py-3">
                    <h4 class="mb-1"> Mobile Template </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 100%;"></div>
                    </div>
                  </div>
                  <div class="progress-container">
                    <h4 class="mb-1"> Backend API </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 33%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="text-primary" style="font-style: italic;">Project Status</h2>
                  <div class="progress-container">
                    <h4 class="mb-1"> Web Design </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 75%;"></div>
                    </div>
                  </div>
                  <div class="progress-container py-3">
                    <h4 class="mb-1"> Website Markup </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 10%;"></div>
                    </div>
                  </div>
                  <div class="progress-container ">
                    <h4 class="mb-1"> One Page </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 50%;"></div>
                    </div>
                  </div>
                  <div class="progress-container py-3">
                    <h4 class="mb-1"> Mobile Template </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 100%;"></div>
                    </div>
                  </div>
                  <div class="progress-container">
                    <h4 class="mb-1"> Backend API </h4>
                    <div class="progress" role="progressbar">
                      <div class="progress-bar bg-primary text-white" style="width: 33%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
