<section>
  <div class="container pricing">
    <div class="title3 text-center">
      <h1>Ready to Unlock the Power of Our Template?</h1>
      <div class="description">
        <p>Get ready to take your projects to the next level with our versatile template. Whether you're a beginner or
          an <br>experienced developer, our template offers the tools and flexibility you need to bring your ideas to
          life. <br>Explore its features and unleash your creativity today!</p>
      </div>
    </div>
    <div class="row w-100 mt-5 d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="card p-2">
          <h2>Personal License</h2>
          <h1>70<small>€</small></h1>
          <div class="card-body text-center">
            <ul class="list-unstyled">
              <li class="py-4"><strong>HTML/CSS/TS </strong>Files</li>
              <mat-divider></mat-divider>
              <li class="py-4"><strong>Fully Coded </strong>Components</li>
              <mat-divider></mat-divider>
              <li class="py-4"><strong>Responsive </strong>Design</li>
              <mat-divider></mat-divider>
              <li class="py-4">Product <strong>Documentation</strong></li>
              <button type="button" class="button mt-3">Buy Now!</button>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-2">
          <h2>Developer License</h2>
          <h1>200<small>€</small></h1>
          <div class="card-body text-center">
            <ul class="list-unstyled">
              <li class="py-4">Everything in Personal</li>
              <mat-divider></mat-divider>
              <li class="py-4">+ Create <strong>Multiple Websites</strong></li>
              <mat-divider></mat-divider>
              <li class="py-4">+ Sell to <strong>Multiple Clients</strong></li>
              <mat-divider></mat-divider>
              <li class="py-4">+ Can <strong>Charge Customers</strong></li>
              <mat-divider></mat-divider>
              <li class="py-4">+ Use in <strong>Comercial Projects</strong></li>
              <mat-divider></mat-divider>
              <li class="py-4">+ Use in <strong>SaaS Projects</strong></li>
              <mat-divider></mat-divider>
              <button type="button" class="button mt-3">Buy Now!</button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
