<section>
  <div class="container-fluid">
    <h1 class="second-title text-center py-5 mb-5"> Stay tuned with our fresh stories </h1>
    <div class="row py-5">
      <div class="col-md-3 p-0">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(../../../assets/high-angle.jpg);"></div>
          <div class="card-body">
            <div class="content">
              <h5 class="card-category">Climate Change</h5>
              <a role="button"><h3 class="card-title">Stellar Partnership</h3></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(../../../assets/long-avenue-night_1127-2142.jpg);"></div>
          <div class="card-body">
            <div class="content">
              <h5 class="card-category">Climate Change</h5>
              <a role="button"><h3 class="card-title">Stellar Partnership</h3></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(../../../assets/financial-district-skyline-night_23-2148287827.jpg);"></div>
          <div class="card-body">
            <div class="content">
              <h5 class="card-category">Climate Change</h5>
              <a role="button"><h3 class="card-title">Stellar Partnership</h3></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(../../../assets/vertical-high-angle-shot-valbona-valley-national-park-clear-blue-sky-albania_181624-46470.avif);"></div>
          <div class="card-body">
            <div class="content">
              <h5 class="card-category">Climate Change</h5>
              <a role="button"><h3 class="card-title">Stellar Partnership</h3></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
