<section class="first-section">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="title text-center">
      <h1>A Place for Entrepreneurs to Share and Discover New Stories</h1>
      <div class="btn-container py-2 mt-2">
        <ul class="list-unstyled d-flex gap-3">
          <li>
            <a class="btn btn-primary " style="background-color: #3b5998;" role="button"><i class="bi bi-facebook"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-primary " style="background-color: #ac2bac;" role="button"><i class="bi bi-instagram"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-primary " style="background-color: #333333;" role="button"><i class="bi bi-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-posts-grid></app-posts-grid>
<app-related-stories-section></app-related-stories-section>
<app-related-stories2></app-related-stories2>
<app-team-section2></app-team-section2>
<app-newsletter-section></app-newsletter-section>
