.first-section{
  background-image: url(../../../assets/view-new-york-city-usa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 115vh;
  min-width: 110lvw;
  position: relative;
  top: -65px;
  z-index: 0;
  padding-bottom: 0!important;
}

.title{
  position: relative;
  bottom: -200px;
  left: -5lvw;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 40px;
    font-weight: 600;
    color: #023047;
    line-height: 1.075;
  }
}

.btn{
  border: 0;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform .3s ease;
}

.btn:hover{
  transform: scale(1.1);
}

.btn:active{
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.4);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  top: -150px;
}

.card-img{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  background-color: transparent;
  img{
    width: 100%;
    border-radius: 5px;
  }
}

.card{
  border: 0;
}

.category{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

.post-title{
  text-decoration: none;
  font-size: 18px;
  color: #e88d25;
  font-weight: 400;
}
.post-title:hover{
  color: #ffa742;
}
.description-post{
  color: rgba(255, 255, 255, 0.7);
  a{
    text-decoration: none;
    appearance: none;
    color: #ffa742;
  }
}

.img-container{
  img{
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
  }
}

.second-title{
  font-size: 30px;
  font-weight: 500;
}

.card{
  min-height: 600px;
  position: relative;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: transparent;
}

.card-background .full-background{
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 3px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.full-background{
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 3px;
  transition: all .5s;
}

.card-background:hover .full-background{

  transform: scale(1.07);
}


.card:hover {
  transform: scale(1.07);
  z-index: 10;
}

.card-body{
  z-index: 2;
  .content{
    position: absolute;
    bottom: 0;
    color: #fff;
  }
  .card-category{
    font-size: 16px;
    font-weight: 400;
  }
  .card-title{
    font-size: 20px;
    font-weight: 500;
  }
}

@media (max-width: 768px){
  .title{
    h1{
      color: #fff;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px){

}

.second-section{
  padding-top: 0 !important;
}

