<section>
  <div class="container">
    <div class="row mb-5">
      <div class="funnel-text text-center">
        <span class="top-label text-center">Insigth</span>
        <h1 class="mt-4">Full-Funnel Social Analytics</h1>
        <h4>The time is now for it to be okay to be great. For being a bright color. For standing out.</h4>
      </div>
    </div>
    <div class="row mt-5 justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="box">
          <div class="icon-container bg-info text-info">
            <i class="bi bi-gear-fill"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-info">SOCIAL CONVERSATIONS</h2>
            <span>We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes
              harder
              for us to give others a hand.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">More about us<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="icon-container bg-success text-success">
            <i class="fa-solid fa-atom"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-success">ANALYZE PERFORMANCE</h2>
            <span>Don't get your heart broken by people we love, even that we give them all we have. Then we lose family
              over time. As we live, our hearts turn colder.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">Learn about our products<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="icon-container bg-warning text-warning">
            <i class="bi bi-globe-americas"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-warning">MEASURE CONVERSIONS</h2>
            <span>What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be
              great or being a bright color. For standing out.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">Check our documentation<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
