<app-insight></app-insight>
<app-insight-section2></app-insight-section2>
<app-insight-section3></app-insight-section3>
<app-insight-section4></app-insight-section4>

<app-latest-blogposts-section></app-latest-blogposts-section>
<app-related-stories2></app-related-stories2>
<app-related-stories-section></app-related-stories-section>
<app-grid-pictures></app-grid-pictures>
<app-posts-grid></app-posts-grid>

<app-team-section></app-team-section>
<app-team-section2></app-team-section2>

<app-pricing-section></app-pricing-section>
<app-pricing-section2></app-pricing-section2>
<app-pricing-section3></app-pricing-section3>

<app-contact-methods-section></app-contact-methods-section>
<app-contact-form-section></app-contact-form-section>
<app-newsletter-section></app-newsletter-section>
