<!-- Button trigger modal -->
<!--data-bs-toggle="modal" data-bs-target="#staticBackdrop"-->


  
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-8" id="staticBackdropLabel">Log Out</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Your session will be closed.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="/login1"><button type="button" class="btn btn-primary">Log Out</button></a>
        </div>
      </div>
    </div>
</div>