<section>
  <div class="container ">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 justify-content-center align-items-center">
      <div class="col">
        <div class="title-container">
          <h1>Choose a plan for your next project</h1>
          <span>You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a
            refund.</span>
        </div>
      </div>
      <div class="col">
        <div class="tab-btn-container py-5">
          <ul class="nav nav-tabs card-tabs" data-bs-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#cheaper"><button type="button"
                  class="btn3">Cheaper</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-bs-toggle="tab" href="#expensive"><button type="button"
                  class="btn3">Expensive</button></a>
            </li>
          </ul>
        </div>
        <div class="row tab-content d-flex justify-content-center align-items-center">
          <div class="tab-pane active col" id="cheaper">
            <div class="row row-cols-1 row-cols-lg-2 ">
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <h6 class="text-uppercase ls-1">Standard</h6>
                  </div>
                  <div class="card-body">
                    <h2>20€</h2>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center my-4">
                        <b class="text-primary"> 20GB </b>
                        <span class="text-muted"> File Storage </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> 15 </b>
                        <span class="text-muted"> Users </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> No </b>
                        <span class="text-muted"> Support </span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer text-center">
                    <a href="#">Request a demo</a>
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="card  text-center">
                  <div class="card-header">
                    <h6 class="text-uppercase ls-1">Premium</h6>
                  </div>
                  <div class="card-body">
                    <h2>50€</h2>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center my-4">
                        <b class="text-primary"> 50GB </b>
                        <span class="text-muted"> File Storage </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> 100 </b>
                        <span class="text-muted"> Users </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> Premium </b>
                        <span class="text-muted"> Support </span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer text-center">
                    <a href="#">Request a demo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane col" id="expensive">
            <div class="row row-cols-1 row-cols-lg-2 ">
              <div class="col-md-6">
                <div class="card  text-center">
                  <div class="card-header">
                    <h6 class="text-uppercase ls-1">Gold</h6>
                  </div>
                  <div class="card-body">
                    <h2>80€</h2>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center my-4">
                        <b class="text-primary"> 200GB </b>
                        <span class="text-muted"> File Storage </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> Unlimited </b>
                        <span class="text-muted"> Users </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> Premium </b>
                        <span class="text-muted"> Support </span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer text-center">
                    <a href="#">Request a demo</a>
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="card  text-center">
                  <div class="card-header">
                    <h6 class="text-uppercase ls-1">Platinum</h6>
                  </div>
                  <div class="card-body">
                    <h2>110€</h2>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center my-4">
                        <b class="text-primary"> 500GB </b>
                        <span class="text-muted"> File Storage </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> Unlimited </b>
                        <span class="text-muted"> Users </span>
                      </li>
                      <li class="align-items-center my-4">
                        <b class="text-primary"> Premium </b>
                        <span class="text-muted"> Support </span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer text-center">
                    <a href="#">Request a demo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
