<section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center">
                <small>Sign in with</small>
              <div class="text-center">
                <a class="btn btn-neutral btn-icon mt-2 mb-2" href="#">
                  <span class="btn-inner--icon"><app-google-icon></app-google-icon></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
              </div>
            </div>
            <div class="card-body">
              <div class="text-muted text-center mt-2">Or use your credentials</div>
                <form>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ui"><app-email-icon></app-email-icon></i>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email"/>
                  </div>
                  <div class="input-group input-group-alternative mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ui"><app-key-icon></app-key-icon></i>
                      </span>
                    </div>
                    <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password"/>
                    <button class="btn2" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </div>
                  <div class="form-check mt-5">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      I agree to the <a href="#">terms and conditions</a>.
                    </label>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary mt-4">Create Account</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  
