<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" data-bs-autoclose="true" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon mb-2"><i class="bi bi-list"></i></span>
    </button>
    <a id="navbar-brand" class="navbar-brand d-flex justify-content-center" href="#">LucentiaLab</a>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"><i class="px-1 bi bi-house"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" *isGranted="'ADMINISTRATOR'" href="/admin"><i class="px-1 bi bi-file-lock"></i>Admin Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="px-1 bi bi-list-task"></i>Sections</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hidden-arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class=" px-1 bi bi-journal-bookmark-fill"></i>Examples
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/about"><i class="px-1 bi bi-info-circle"></i>About Us</a>
            </li>
            <li>
              <a class="dropdown-item" href="/blog"><i class="px-1 bi bi-text-center"></i>Blog Post</a>
            </li>
            <li>
              <a class="dropdown-item" href="/blog-posts"><i class="px-1 bi bi-easel"></i>Blog Posts</a>
            </li>
            <li>
              <a class="dropdown-item" href="/contact"><i class="px-1 bi bi-person-lines-fill"></i>Contact Us</a>
            </li>
            <li>
              <a class="dropdown-item" href="/landing"><i class="px-1 bi bi-receipt-cutoff"></i>Landing Page</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pricing"><i class="px-1 bi bi-cash-stack"></i>Pricing</a>
            </li>
            <li>
              <a class="dropdown-item" href="/gallery"><i class="bi bi-shop px-1"></i>Shop</a>
            </li>
            <li>
              <a class="dropdown-item" href="/product"><i class="px-1 bi bi-bag"></i>Product Page</a>
            </li>
            <li>
              <a class="dropdown-item" href="/profile"><i class="px-1 bi bi-person-circle"></i>Profile Page</a>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class=" px-1 bi bi-journal-bookmark-fill"></i>App Pages
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="/login1"><i class="px-1 bi bi-box-arrow-in-right"></i>Client Login</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/login2"><i class="px-1 bi bi-box-arrow-in-right"></i>Seller Login</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/register1"><i class="px-1 bi bi-ui-checks"></i>Client Register</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/register2"><i class="px-1 bi bi-ui-checks"></i>Seller Register</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/invoice"><i class="px-1 bi bi-receipt"></i>Invoice</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/checkout"><i class="px-1 bi bi-basket"></i>Checkout</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/chat"><i class="px-1 bi bi-chat"></i>Chat</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hidden-arrow" *isGranted="'SELLER'" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="px-1 bi bi-table"></i>Tables
          </a>
          <ul class="dropdown-menu dropdown-submenu" >
            <li><a class="dropdown-item" href="/regular" *isGranted="'ADMINISTRATOR'">Regular</a></li>
            <li><a class="dropdown-item" href="/extended" *isGranted="'SELLER'">Extended</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="right-container d-flex align-items-center">
      <button class="px-2 btn" type="button" *isGranted="'CUSTOMER'" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="bi bi-cart-fill"></i>
      </button>
      <div class="dropdown">
        <button class="px-2 button nav-link dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink"
        role="button"
        aria-expanded="false" data-mdb-dropdown-init >
          <i class="bell bi bi-bell-fill"></i>
       </button>
        <ul
          class="dropdown-menu dropdown-menu-noti"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>
      <a href="/acc-settings">
        <button class="px-2 btn gear" type="button">
          <i class="bi bi-gear-fill"></i>
        </button>
      </a>
      <div class="dropdown">
        <a
          data-mdb-dropdown-init
          class="nav-link dropdown-toggle px-2 d-flex align-items-center hidden-arrow"
          id="navbarDropdownMenuAvatar"
          role="button"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-profile"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="/profile" role="button" aria-expanded="false">
              <i class="bi bi-person-fill"></i> Profile Page
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-left"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasRightLabel">Your Cart</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <mat-divider></mat-divider>
  <div class="offcanvas-body">
    <app-cart></app-cart>
  </div>
</div>
