<section>
  <div class="container">
    <h1 class="title py-4"> Related Stories </h1>
    <div class="row py-4 align-items-center">
      <div class="col-md-4">
        <img class="picture"
          src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-4.jpg"
          alt="Story Picture">
      </div>
      <div class="col-md-8">
        <h3><a role="button" class="story-title">Rover raised $65 million for pet sitting</a></h3>
        <span class="description">Finding temporary housing for your dog should be as easy as renting an Airbnb. That's
          the idea behind
          Rover, which raised $65 million to expand its pet sitting and dog-walking businesses...<a> Read more </a>
        </span>
        <div class="author mt-3 d-flex align-items-center">
          <div class="profile-picture-container">
            <img class="profile-picture"
              src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-2.jpg"
              alt="Profile Picture">
          </div>
          <div class="profile-name">
            <h3>Jessica Stones</h3>
            <small>Posted on January 20th</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4 align-items-center">
      <div class="col-md-4">
        <img class="picture"
          src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-3.jpg"
          alt="Story Picture">
      </div>
      <div class="col-md-8">
        <h3><a role="button" class="story-title">MateLabs mixes learning with IFTTT</a></h3>
        <span class="description">If you've ever wanted to train a machine learning model and integrate it with IFTTT,
          you now can with a new offering from MateLabs. MateVerse, a platform where novices can spin out machine... <a>
            Read more </a> </span>
        <div class="author mt-3 d-flex align-items-center">
          <div class="profile-picture-container">
            <img class="profile-picture"
              src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-5.jpg"
              alt="Profile Picture">
          </div>
          <div class="profile-name">
            <h3>Tom Klein</h3>
            <small>Posted on January 20th</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4 align-items-center">
      <div class="col-md-4">
        <img class="picture"
          src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/theme/img-1-1200x1000.jpg"
          alt="Story Picture">
      </div>
      <div class="col-md-8">
        <h3><a role="button" class="story-title">US venture investment ticks up in Q2</a></h3>
        <span class="description">Venture investment in U.S. startups rose sequentially in the second quarter of 2017,
          boosted by large, late-stage financings and a few outsized early-stage rounds in tech and healthcare..<a> Read
            more </a> </span>
        <div class="author mt-3 d-flex align-items-center">
          <div class="profile-picture-container">
            <img class="profile-picture"
              src="https://expertphotography.b-cdn.net/wp-content/uploads/2020/08/social-media-profile-photos.jpg"
              alt="Profile Picture">
          </div>
          <div class="profile-name">
            <h3>Sofía García</h3>
            <small>Posted on January 20th</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
