<section>
  <div class="container-fluid">
    <div class="row d-flex mt-5">
      <div class="col-md-4">
        <div class="box text-center">
          <div class="icon-container bg-info text-info">
            <i class="bi bi-cpu"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-info">Huge number of components</h2>
            <span>An extensive array of components, facilitating a modular and scalable architecture, enhancing code
              reusability and modularity across the application.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">Explore them<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-2 text-center">
          <div class="icon-container bg-success text-success">
            <i class="bi bi-lightbulb"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-success">Multi-Purpose<br>Sections</h2>
            <span>Versatile and adaptable sections designed to serve a variety of purposes, offering flexibility and
              customization to tailor the content according to specific needs and preferences.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">Take a look<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box text-center">
          <div class="icon-container bg-warning text-warning">
            <i class="bi bi-gift"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-warning">Multiple Example Pages</h2>
            <span>Explore a diverse range of example pages showcasing different layouts, functionalities, and design
              styles, providing inspiration and guidance for your own projects..</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">Check our documentation<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
