<section>
  <div class="container first d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-lg-6 col-md-12 py-3 col-left-1">
        <div class="title">
          <h2>Integrated<br>Front Marketing</h2>
        </div>
        <h4>We aim high at being focused on building relationships
           with our clients and community.
           Using our creative gifts drives this foundation.
        </h4>
        <form>
          <div class="form-group d-flex justify-content-center gap-3">
            <input class="input-form" type="email" id="email" placeholder="Your email">
            <button class="btn shadow" type="submit">More</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12 py-3">
        <img>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container second d-flex justify-content-center">
    <div class="row mb-4">
      <div class="col">
        <div class="funnel-text text-center">
          <span class="top-label text-center">Insigth</span>
          <h1 class="mt-4">Full-Funnel Social Analytics</h1>
          <h4>The time is now for it to be okay to be great. For being a bright color. For standing out.</h4>
        </div>
      </div>
    <div class="row d-flex justify-content-center align-items-center mt-4">
      <div class=" col-md-4 py-4">
        <div class="icon-container bg-primary text-primary">
          <i class="bi bi-gear-fill"></i>
        </div>
        <div class="text-container mt-3">
          <h2 class="text-primary">SOCIAL CONVERSATIONS</h2>
          <span>We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</span>
        </div>
        <div class="footer py-3">
          <a class="footer-btn text-primary">More about us<i class="fa-solid fa-angle-right"></i></a>
        </div>
      </div>
      <div class=" col-md-4 py-4">
        <div class="icon-container bg-success text-success">
          <i class="fa-solid fa-atom"></i>
        </div>
        <div class="text-container mt-3">
          <h2 class="text-success">ANALYZE PERFORMANCE</h2>
          <span>We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</span>
        </div>
        <div class="footer py-3">
          <a class="footer-btn text-primary">More about us<i class="fa-solid fa-angle-right"></i></a>
        </div>
      </div>
      <div class=" col-md-4 py-4">
        <div class="icon-container bg-warning text-warning">
          <i class="bi bi-globe-americas"></i>
        </div>
        <div class="text-container mt-3">
          <h2 class="text-warning">MEASURE CONVERSIONS</h2>
          <span>We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</span>
        </div>
        <div class="footer py-3">
          <a class="footer-btn text-primary">More about us<i class="fa-solid fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
