section{
  display: block;
  padding-top: 8rem;
  padding-bottom: 10rem!important;
}

img{
  position: relative;
  max-width: 700px;
}

.card-blog{
  width: 70%;
  height: 600px !important;
  background-image: url('../../../assets/te-headphones-near-laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  transition: transform 0.4s ease-in-out;
  .card-body{
    margin: 40px;
    color: #f3f3f3;
    h2{
      font-size: 35px;
    }
  }
}

.card-blog:hover{
  transform: scale(1.1);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

.shadow{
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}


.card-pricing{
  max-width: 90%;
  height: 480px;
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-header{
    padding: 10px;
  }
  .card-footer{
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  h6{
    font-size: 1rem;
    font-weight: 500;
  }
  h2{
    margin-top: 2rem;
    font-size: 2.75rem;
    opacity: 80%;
  }
  li{
    font-size: 16px;
  }
}

a{
  text-decoration: none;
}

.img-profile{
  width: 40px;
  border-radius: 50%;
}

.name{
  font-weight: 500;
}

.btn-container{
  position: relative;
  bottom: -310px;
}

.btn2{
  border-radius: 5px;
  padding: 5px;
  width: 120px;
  border: 1px solid #006294;
  background-color: #006294;
  color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.btn2:hover{
  background-color: #002D44;
  border: 1px solid #002D44;
}

.col-left-1{
  h2{
    font-size: 30px;
    font-weight: bolder;
  }
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second{
  max-width: 70%;
}

.box{
  margin: 30px;
  max-width: 70%;
}

.footer-btn{
  text-decoration: none;
  color: #fff;

}

.form-group{
  width: 80%;
}

.input-form{
  border-radius: 8px;
  border: .5px solid #ff9f31;
  width: 100%;
  padding: 8px;

}

.input-form:focus{
  box-shadow: inset 0 1px 2px black;
  outline: none;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 8px;
  background-color: #ff9f31;
  color: #002D44;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.icon-container{
  padding: 10px;
  border-radius: 50%;
  width: max-content;
  font-size: 30px;
}

.bg-info, .bg-warning{
  --bs-bg-opacity: 0.3;
}

.bg-success{
  --bs-bg-opacity: 0.6;
  color: #38dd2a!important;
}

.text-success{
  color:#38dd2a!important;
}


.top-label{
  font-size: 11px;
  width: 85px;
  background-color: #ff9f31;
  border-radius: 10px;
  color: #023047;
  text-transform: uppercase;
  font-weight: 600;
}

.funnel-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 768px){
  .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    input{
      width: 100%;
    }
    button{
      width: 100%;
    }
  }
  .title{
    text-align: center;
  }
  img{
    width: 100%;
  }
  .box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
}

@media (min-width: 768px) and (max-width: 1024px){
  img{
    width: 100%;
  }
}


