
<section>
  <div class="container first d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6 col-md-12 py-3">
        <div class="title">
          <h2>Integrated<br>Front Marketing</h2>
          <h4>We aim high at being focused on building relationships
            with our clients and community.
            Using our creative gifts drives this foundation.
          </h4>
        </div>
        <form>
          <div class="form-group d-flex justify-content-center gap-3">
            <input class="input-form" type="email" id="email" placeholder="Your email">
            <button class="btn" type="submit">More</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12 py-3">
        <img src="../../../assets/picture-template.png">
      </div>
    </div>
  </div>
</section>

<app-insight></app-insight>

<app-latest-blogposts-section></app-latest-blogposts-section>

<app-pricing-section></app-pricing-section>

<app-team-section></app-team-section>

