<section>

  <div class="container first d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6 col-md-12 py-3 col-left-1">
        <div class="title">
          <h2>Integrated<br>Front Marketing</h2>
        </div>
        <h4>We aim high at being focused on building relationships
          with our clients and community.
          Using our creative gifts drives this foundation.
        </h4>
        <form>
          <div class="form-group d-flex justify-content-center gap-3">
            <input class="input-form" type="email" id="email" placeholder="Your email">
            <button class="btn shadow" type="submit">More</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12 py-3">
        <img src="../../../assets/picture-template.png">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container second">
    <div class="row">
      <div class="funnel-text text-center">
        <span class="top-label text-center">Insigth</span>
        <h1 class="mt-4">Full-Funnel Social Analytics</h1>
        <h4>The time is now for it to be okay to be great. For being a bright color. For standing out.</h4>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="box">
          <div class="icon-container shadow bg-info text-info">
            <i class="bi bi-gear-fill"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-info">SOCIAL CONVERSATIONS</h2>
            <span>We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder
              for us to give others a hand.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">More about us<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="icon-container shadow bg-success text-success">
            <i class="fa-solid fa-atom"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-success">ANALYZE PERFORMANCE</h2>
            <span>Don't get your heart broken by people we love, even that we give them all we have. Then we lose family over time. As we live, our hearts turn colder.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">Learn about our products<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="icon-container shadow bg-warning text-warning">
            <i class="bi bi-globe-americas"></i>
          </div>
          <div class="text-container mt-3">
            <h2 class="text-warning">MEASURE CONVERSIONS</h2>
            <span>What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be great or being a bright color. For standing out.</span>
          </div>
          <div class="footer py-3 ">
            <a class="footer-btn" href="#">Check our documentation<i class="px-2 fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h1 class=" mb-5" style="font-size: 35px;">Latest Blogposts</h1>
    <div class="card card-blog shadow mt-4">
      <div class="card-body">
        <h2>Miami Vice</h2>
        <span class="description py-3"> The simplest visual description uses ordinary words to convey what the writer sees. First he or she must look at the subject slowly, carefully, and repeatedly, if possible to identify the parts that make the whole. </span>
        <div class="author py-3">
          <img class="img-profile" src="https://expertphotography.b-cdn.net/wp-content/uploads/2020/08/social-media-profile-photos.jpg" alt="Profile Picture">
          <span class="name px-2">by Sofía García</span>
        </div>
        <div class="btn-container text-end">
          <button class="btn2">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <img style="width: 10%; position: relative;top: 0; left: 0;" src="../../../assets/Vector Smart Object.png">
  <div class="container">
    <div class="row  align-items-center">
      <div class="col-md-4">
        <h1>Choose a plan for your next project</h1>
        <span>You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund.</span>
      </div>
      <div class="col-md-4">
        <div class="card card-pricing shadow text-center">
          <div class="card-header">
            <h6 class="text-uppercase ls-1">Standard</h6>
          </div>
          <div class="card-body">
            <h2>20€</h2>
            <span>per month</span>
            <ul class="list-unstyled my-4">
              <li class="align-items-center my-4">
                <b class="text-primary"> 20GB </b>
                <span> File Storage </span>
              </li>
              <li class="align-items-center my-4">
                <b class="text-primary"> 15 </b>
                <span> Users </span>
              </li>
              <li class="align-items-center my-4">
                <b class="text-primary"> No </b>
                <span> Support </span>
              </li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <a href="#">Request a demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-pricing shadow text-center">
          <div class="card-header">
            <h6 class="text-uppercase ls-1">Standard</h6>
          </div>
          <div class="card-body">
            <h2>20€</h2>
            <span>per month</span>
            <ul class="list-unstyled my-4">
              <li class="align-items-center my-4">
                <b class="text-primary"> 20GB </b>
                <span> File Storage </span>
              </li>
              <li class="align-items-center my-4">
                <b class="text-primary"> 15 </b>
                <span> Users </span>
              </li>
              <li class="align-items-center my-4">
                <b class="text-primary"> No </b>
                <span> Support </span>
              </li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <a href="#">Request a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img style="width: 10%; position: relative;bottom: 0; rotate: 180deg;" src="../../../assets/Vector Smart Object.png">
</section>
