section {
  display: block;
  padding-top: 8rem;
  padding-bottom: 15rem;
}

img {
  position: relative;
  max-width: 700px;
}


.title {
  h2{
    font-size: 30px;
    font-weight: bolder;
  }
  h4{
    font-weight: 300;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 80%;
}

.input-form {
  border-radius: 8px;
  border: 0.5px solid #ff9f31;
  width: 100%;
  padding: 8px;
}

.input-form:focus {
  box-shadow: 0px 8px 16px rgba(0, 0, 0,0.4);
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 8px;
  background-color: #ff9f31;
  color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0,0.4);
  border: 0;
}
.btn:active{
  background-color: #ff9f31;
  border: 0;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0,0.4);
}

@media (max-width: 768px) {
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    input {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }

  .title {
    text-align: center;
  }
  img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  img {
    width: 100%;
  }
}
