<section>
  <div class="container demo">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="title3">
          <h1>Free Demo</h1>
          <p>Take advantage of our complimentary free demo to explore our product's features and capabilities firsthand.
            With no obligations, you can experience the full potential of our solution and see how it can benefit your
            business.</p>
          <button type="button" class="button">View Demo</button>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card m-3">
              <div class="card-body">
                <h1>Free Version</h1>
                <ul class="list-unstyled">
                  <li class="py-4">70 components</li>
                  <mat-divider></mat-divider>
                  <li class="py-4">3 Example Pages</li>
                  <mat-divider></mat-divider>
                  <li class="py-4"><i class="bi bi-x-lg text-danger"></i> Unconventional Cards </li>
                  <mat-divider></mat-divider>
                  <li class="py-4"><i class="bi bi-x-lg text-danger"></i> Sections </li>
                  <mat-divider></mat-divider>
                  <li class="py-4"><i class="bi bi-x-lg text-danger"></i> Premium Support </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card m-3">
              <div class="card-body">
                <h1>PRO Version</h1>
                <ul class="list-unstyled">
                  <li class="py-4">1000+ components</li>
                  <mat-divider></mat-divider>
                  <li class="py-4">17 Example Pages</li>
                  <mat-divider></mat-divider>
                  <li class="py-4"><i class="bi bi-check-lg text-success"></i> Unconventional Cards </li>
                  <mat-divider></mat-divider>
                  <li class="py-4"><i class="bi bi-check-lg text-success"></i> Sections </li>
                  <mat-divider></mat-divider>
                  <li class="py-4"><i class="bi bi-check-lg text-success"></i> Premium Support </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="icon-container">
          <i class="bi bi-github"></i>
        </div>
      </div>
    </div>
  </div>
</section>
