.title3{
  font-size: 30px;
  font-weight: 500;
}
.icon{
  font-size: 100px;
}


.description{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 4;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}

.icon-container{
  i{
    font-size: 40px;
  }
}
.info-title{
  font-weight: 400;
}
.feature{
  .description{
    font-size: 15px;
    font-weight: 300;
  }
}

.col-lg-3{
  margin-right: 5rem;
}

.feature{
  background-color: transparent;
  border-radius: 5px;
  padding: 30px;
  min-height: 297px;
  transition: all .3s ease;
}

.feature:hover{
  background-color: #ff9f31;
  box-shadow: 13px 13px 50px -24px rgba(255, 159, 49, 0.7);
}
@media (max-width: 768px){
  .col-lg-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
}
