<section>
  <div class="title text-center mb-5">
    <h2>Invoice</h2>
    <span>Everyone's born confident, and everything's taken away from you</span>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="brand">
              <h5>LucentiaLab</h5>
              <span>Alicante, Spain<br></span>
              <small>
                tel: +34 123 456 789
              </small>
            </div>
          </div>
          <div class="col text-end">
            <div class="billed">
              <h3>Billed to:</h3>
              <span>Sofía García<br></span>
              <span>Alicante, Spain<br></span>
              <span>03540</span>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col mt-5">
            <h3>Invoice nº</h3>
            <span>#0426112</span>
          </div>
          <div class="col text-end mt-5">
            <span>Invoice date: 12/10/2023<br></span>
            <span>Due date: 18/10/2023</span>
          </div>
        </div>
        <div class="table-responsive mt-5">
          <table class="table table-hover text-end">
            <thead class="bg-default">
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Premium Support</td>
                <td>2</td>
                <td>60€</td>
                <td>120€</td>
              </tr>
              <tr>
                <td>Starter Edition</td>
                <td>5</td>
                <td>20€</td>
                <td>100€</td>
              </tr>
              <tr>
                <td>Enterprise Edition</td>
                <td>1</td>
                <td>60€</td>
                <td>60€</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Total</td>
                <td class="text-end">
                  280€
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="footer text-end mt-5">
          <h3>Thank You!</h3>
          <span>If you encounter any issues related to the invoice<br> you can contact us at:<br></span>
          <small>email: lucentialab&commat;gmail.com</small>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container text-end mt-3">
    <button type="button" class="btn"><i class="px-1 bi bi-printer"></i> Print</button>
  </div>
</section>
