section{
  display: block;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.table{
  border-radius: 10px;
}

thead th{
  background-color: #023047;
  color: #f3f3f3;
}

tbody th, td{
  background-color: #f3f3f3;
  color: #023047;
}

