<section>
  <div class="container">
    <div class="title text-center">
      <h1>Subscribe to our Newsletter</h1>
      <span>Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.</span>
    </div>
    <div class="card p-3 mt-5">
      <div class="row w-100 d-flex align-items-center">
        <div class="col-lg-9">
          <form>
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="mb-1 bi bi-envelope"></i>
                </div>
              </div>
              <input class="form-control" placeholder="Your email..." type="email"/>
            </div>
          </form>
        </div>
        <div class="col-lg-3 text-end">
          <button type="submit" class="btn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</section>
