<section>
  <p-carousel [numVisible]="4" [numScroll]="1">
    <ng-template pTemplate="item">
      <div class="item">
        <app-profile-card></app-profile-card>
      </div>
    </ng-template>
    <ng-template pTemplate="item">
      <app-profile-card></app-profile-card>
    </ng-template>
    <ng-template pTemplate="item">
      <app-profile-card></app-profile-card>
    </ng-template>
    <ng-template pTemplate="item">
      <app-profile-card></app-profile-card>
    </ng-template>
    <ng-template pTemplate="item">
      <app-profile-card></app-profile-card>
    </ng-template>
  </p-carousel>
</section>

